[submodule "php-mode"]
	path = php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "scala-mode2"]
	path = scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
